
.card-290, .card-450 {
    border-radius: 0.5em;
    display: block;
    margin-bottom: 0.5em;
    text-align: center;
    vertical-align: top;
}

@include media-breakpoint-up(md) {
    .card-290, .card-450 {
        display: inline-block;
        margin-right: 1em;
    }
    .card-450 {
        width: 450px;
    }
    .card-290 {
        width: 290px;
    }
}
